In [1]:
# import libraries
import pandas as pd
import requests

In [2]:
#connect to URL and pull in the data
url = "https://en.wikipedia.org/wiki/World_Happiness_Report"
r = requests.get(url)
df= pd.read_html(r.text, header=0)

In [3]:
# check total tables in the URL
len(df)

29

In [4]:
# specify the data we are looking for
happiness_table = df[12]

In [5]:
# inspect the data
happiness_table.head(10)

   Overall rank Country or region
0             1           Finland
1             2           Denmark
2             3           Iceland
3             4            Israel
4             5       Netherlands
5             6            Sweden
6             7            Norway
7             8       Switzerland
8             9        Luxembourg
9            10       New Zealand

In [6]:
# check for null values 
happiness_table.isnull().sum()

Overall rank         0
Country or region    0
dtype: int64

In [7]:
# check for duplicates
happiness_table.duplicated().sum()

0

In [8]:
# export to csv and drop the index
happiness_table.to_csv("2023_World_Happiness_Report.csv", index=False)